*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin-left: 20px;
}

form input,
form select,
form button {
    display: block;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1em;
    padding: 0.5em;
}

.height-select {
    display: flex;
    width: 100%;
    max-width: 400px;
    gap: 0.5em;
}

.height-select select {
    flex: 1;
}

form button {
    width: auto; 
}
