.meal-plan-results {
    margin: 20px;
}

.save-button {
    color: white !important;
    background-color: rgb(222, 157, 26) !important;
}

.save-button:hover {
    background-color: rgb(255, 179, 26) !important;
}

.meal-plan-container {
    padding-bottom: 50px;
}

.recipe-suggestion {
    margin-bottom: 20px;
}